* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
    margin: 1rem;
}

.data {
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}

input{
    width: 8rem;
    height: 1rem;
}

.pushBtn{
    margin-top: .5rem;
    width: 4rem;
    height: 1.5rem;
    border: none;
    background: #04AA6D;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
}

table, tr{
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.remove{
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    text-align: center;
    cursor: pointer;
}
