.hidden{
display:none;
}
body{
font-family:Arial,sans-serif;
background-color:#f2f2f2;
color:#333;
}
h1{
text-align:center;
margin-top:20px;
}
img{
display:block;
margin:0auto;
}
label{
display:block;
margin-top:20px;
text-align:center;
}
input[type="text"]{
width:50px;
padding:5px;
margin-right:10px;
text-align:center;

}
button{
padding:10px20px;
background-color:#333;
color:#fff;
border:none;
border-radius:5px;
margin-top:20px;
cursor:pointer;
text-align:center;
}
button:hover{
background-color:#707070;
}
#word{
font-size:24px;
text-align:center;
margin-top:20px;
text-align:center;
}
.wrapper{
margin-left:30%;
flex-direction:column;
align-items:center;
justify-content:center;
}